/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include "charybdis_right.dtsi"
#include "charybdis.dtsi"
/ {
    chosen {
        zephyr,display = &gc9a01;
    };
};       
