/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <dt-bindings/i2c/i2c.h>
#include <dt-bindings/gpio/gpio.h>
#include <nordic/nrf52840_qiaa.dtsi>
#include "charybdis.dtsi"

/ {
    vcc_display: vcc_display {
        compatible = "regulator-fixed";
        label = "VCC_DISPLAY";           /* ← 加上这行 */
        regulator-name = "vcc-display";
        enable-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;  /* X 换成你接的实际引脚号 */
        regulator-boot-on;
    };
};

