/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <dt-bindings/i2c/i2c.h>
#include <dt-bindings/gpio/gpio.h>
#include <nordic/nrf52840_qiaa.dtsi>
#include "charybdis.dtsi"


/ {
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
		row-gpios = <&pro_micro 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
};


&pro_micro_spi {
    status = "okay";
    cs-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
    

    glidepoint: glidepoint@0 {
        compatible = "cirque,pinnacle";
        reg = <0>;
        label = "glidepoint";
        spi-max-frequency = <1000000>;
        status = "okay";
        

        dr-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
        

        sensitivity = "4x";
        sleep;
        no-taps;
    };
};

&glidepoint {
    glidepoint_listener {
        compatible = "zmk,input-listener";
        device = <&glidepoint>;
    };
};

&gpio0 {
    status = "okay";
};


&glidepoint {
    status = "okay";

    sck-pin = <4>;    /* P0.17 */
    mosi-pin = <5>;   /* P0.15 */
    miso-pin = <5>;   /* P0.13 */ 
};


&kscan0 {
    status = "okay";

};

&adc {
    status = "okay";

};





