#include "charybdis.dtsi"                                                                                            
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/nrf-pinctrl.h> 


                                                                               
