# Copyright (c) 2024 ZMK Firmware
# SPDX-License-Identifier: Apache-2.0

config BOARD_PINNACLE_100
    bool "Pinnacle 100"
    select BOARD_NRF52840
    help
      Nordic Semiconductor Pinnacle 100 development board
      featuring the nRF52840 ARM Cortex-M4F processor.

# 👇 必须添加下面这部分 👇
if BOARD_PINNACLE_100

config BOARD
    string
    default "pinnacle_100"

endif
